<strong>Hi, {{ deliverer }} </strong>
<p>One of your deliveries was cancelled, check the following info:</p>
<p>
  <strong>Recipient: </strong> {{ recipient }} <br />
  <strong>Product: </strong> {{ product }} <br />
  <br />
</p>
