<strong>Olá, {{ deliverer }} </strong>
<p>Há uma encomenda para retirada, confira os detalhes abaixo:</p>
<p>
  <strong>Destinatário: </strong> {{ recipient }} <br />
  <strong>Produto: </strong> {{ product }} <br />
  <br />
</p>
